@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --font-color: #495057;
    --nav-font-color: white;
    --heading-color: #343a40;
    --background: white;
    --dark-font-color: #1b1d25;
    --medium-font-color: #60656c;
    --border: #d6d9de;
    --link-color: #107896;
    --link-color-darker: #71c9ce;
    --navbar-color: #43ABC9;
}
html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    color: var(--font-color);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
}
 
  
body {
    margin: 0 auto;
    max-width: 50em;
    padding: 4em 1em;
    color: #555;
}


h1,
h2,
strong {
    font-size: 2em;
    margin: 0.67em 00;
    color: var(--heading-color);
}
h2{
    margin-top: 1em;
    padding-top: 1em;
}

/* Navbar */

main {
    margin-top: 3.5rem;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--navbar-color);
    box-shadow: 0 3px 13px rgba(100, 110, 140, 0.1),
        0 2px 4px rgba(100, 110, 140, 0.15);
    z-index: 2;
    padding: 0.5rem;
}

.navbar .container .flex {
    justify-content: space-between;
}
  
.navbar a {
    border-radius: 0.35rem;
    margin: 0 0.05rem;
    color:var(--nav-font-color);
    font-weight: 400;
    font-size: 0.85rem;
    border: 1px solid transparent;
    padding: 0 0.3rem;
    background: transparent;
}

.navbar button {
    font-size: 1rem;
    margin-right: -1rem;
}

.navbar a:first-of-type {
    margin-left: -1rem;
}
  
.navbar a.brand {
    font-weight: 500;
    color: var(--nav-font-color);
    white-space: nowrap;
    border: none;
    display: flex;
    align-items: center;
    line-height: 1;
    background: transparent;
}

/* Scaffold */
a, span.bold {
    color: var(--link-color);
    text-decoration: none;
    font-weight: 700
}

a:hover {
    color: var(--link-color-darker)
}

ul {
    padding: 0 2rem;
    margin-top: 3rem;
    margin-bottom: -1rem;
}
