@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --font-color: #495057;
    --nav-font-color: white;
    --heading-color: #343a40;
    --background: white;
    --light-font-color: #858b93;
    --dark-font-color: #1b1d25;
    --medium-font-color: #60656c;
    --border: #d6d9de;
    --bold-color: #107896;
    --link-color: #858b93;
    --link-color-darker: #60656c;
    --navbar-color: #43acc9;
}
html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    color: var(--font-color);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
}
 
  
body {
    margin: 0 auto;
    max-width: 50em;
    padding: 4em 1em;
    color: #555;
}


h1,
h2,
strong {
    font-size: 2em;
    margin: 0.67em 00;
    color: var(--heading-color);
}

h2{
    margin-top: 0.5em;
    padding-top: 1em;
}

.lead h3{
    color: var(--medium-font-color);
}

/* Navbar */

main {
    margin-top: 3.5rem;
}

.navbar {
    font-size: 18px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--navbar-color);
    box-shadow: 0 3px 13px rgba(100, 110, 140, 0.1),
        0 2px 4px rgba(100, 110, 140, 0.15);
    z-index: 2;
    padding-bottom: 1rem;
}


.main-nav {
    list-style-type: none;
    display: none;
}

.nav-links,
.logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.logo {
    display: inline-block;
    margin-left: 4rem;

}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
}

.active {
    display: block;
}

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 1rem;
    }

    .logo {
        margin-top: 0;
    }

    .navbar-toggle {
        display: none;
    }

    .logo:hover,
    .nav-links:hover {
        color: rgba(255, 255, 255, 1);
    }
}
/* Scaffold */
a {
    color: var(--link-color-darker);
    text-decoration: none;
    font-weight: 700
}

a:hover {
    color: var(--link-color);
}

span.bold{
    color: var(--bold-color);
    font-weight: 700;
}

.content ul {
    padding: 0 2rem;
    margin-top: 3rem;
    margin-bottom: -1rem;
}

/*About-me*/
.hero {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}
#hero-img{
    display: inline-block;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    object-fit: cover;
    box-shadow: 0 3px 13px rgba(100, 110, 140, 0.1),
    0 2px 4px rgba(100, 110, 140, 0.15);;
}

@media screen and (max-width: 768px) {
    #hero-img{
        width: 200px;
        height: 200px;
    }
}